body{
  background-color:#a896d8 ;
  font-family: "Alkatra", system-ui;
  min-width: 600px;
}
section {
  background-color: rgb(228, 199, 224);
  border-radius: 15px;
  margin: 20px auto;
  max-width:1400px;
  padding: 30px 30px 10px 30px;
  }
header{
  display: flex;
  justify-content: space-evenly;
  padding:30px 15px;
}

h1{
  color:rgb(175, 4, 175);
  font-size: 45px;
  text-align: center;
}

.icon{
  border-radius: 50%;
  left: 5px;
  max-width: 100px;
  margin: 20px auto;
  position: relative;
}

.headerLeftCollum{
  width:20%;
}

.headerRightCollum{
  width:80%;
}

.searcInput {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: #27204478;
  font-size: 16px;
  padding: 10px;
  width: 71%;
}

.searchButton {
  background-color: #885df1;
  border: none;
  border-radius: 5px;
  color: #f9f7fe;
  font-size: 16px;
  margin-left: 5px;
  padding: 10px;
  transition: all 150ms ease-in-out;
  width:23%;
}

.searchButton:hover {
  opacity: 0.7;
}

div.searchBar {
  display: flex;
  justify-content: stretch;
}

.dateTop {
  color: #272044;
  right: 50px;
  max-width: 25%;
  min-width:125px;
  opacity: 0.8;
  text-align: center;
}

.currentWeather {
  color: #272044;
  display: flex;
  justify-content: space-evenly;
  padding:20px;
}

.currentCity {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.currentWeatherDescription {
  opacity: 0.6;
}

.currentHumidity,
.currentWindspeed {
  font-weight: bold;
}

.currentTemp{
  display: flex;
}

.currentTempIcon {
  font-size: 45px;
}

.currentTempIcon{
  height:100px;
}

.currentTempValue {
  font-weight: bolder;
  font-size: 90px;
  line-height: 100px;
}

.currentTempUnit {
  font-size: 30px;
  left:5px;
  position: relative;
}
.currentTempUnit a{
  text-decoration: none;
  color: #885df1;
}

.feelsLike{
  margin-top: 0;
  text-align: center;
  opacity: 0.6;
}
.todayMaxMin {
  text-align: center;
  margin: 0px auto 20px;
  font-size: 22px;
}

.todayMaxMin em{
  font-weight: normal;
}

.minimum {
opacity: 0.6;
}

.forecast {
  color: #272044;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.forecastInner{
  min-width: 200px;
}

.forecastDate{
  font-size: 20px;
  opacity: 0.7;
}

.forecastMax{  
  font-size: 16px;
 font-weight: bold; 
  opacity: 0.8;
}

.forecastCondition{
  width: 70px;
}

.forecastMin{
  opacity: 0.5;
}

.authorLinks {
  font-size: 14px;
  line-height: 1;
  padding: 20px;
  text-align: center;
}
